<!DOCTYPE html>
<!--
|\     /|(  ____ \( \      ( \      (  ___  )
| )   ( || (    \/| (      | (      | (   ) |
| (___) || (__    | |      | |      | |   | |
|  ___  ||  __)   | |      | |      | |   | |
| (   ) || (      | |      | |      | |   | |
| )   ( || (____/\| (____/\| (____/\| (___) |
|/     \|(_______/(_______/(_______/(_______)  hello!,什么也没有~~
-->
<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
    <style>
        #error{
            margin: 169px auto 0;
            width: 402px;
        }
        .errorwarp{
            background: #f7f7f7;
            padding: 33px 20px 10px;
            border: 1px solid #babbbc;
            width: 360px;
            height: 178px;
            text-align: center;
            border-radius: 4px ;
            margin: 0 auto;
        }
    </style>
    </head>
<body>

<div class="container">
    <div class="row">
        <div id="error">
            <h3 class="text-center"> %&gt;_&lt;% 服务器正在抽风</h3>
            <div class="errorwarp">
                <p>你似乎来到了没有人烟存在的地方...</p>
                <p>你这么吊，你父母知道吗！！！</p>
                <hr/>
                <p>
                    返回<a href="/">首页</a>
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>


