<html><head>
    <title>admin</title>
    <!--    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/type.css' />
    <link rel='stylesheet' href='/stylesheets/cube.css' />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/css/bootstrap.min.css"><!--
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css"/>-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/markdown/Markdown.Editor.css">

    <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.js"></script><style type="text/css"></style>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- markdown editor -->
    <script src="/markdown/Markdown.Converter.js"></script>
    <script src="/markdown/Markdown.extra.js"></script>
    <script src="/markdown/Markdown.Sanitizer.js"></script>
    <script src="/markdown/Markdown.Editor.js"></script>

</head>
<body style="">


<header class="navbar navbar-fixed-top index-header" role="banner">
    <div class="container">
        <nav class="navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">YueYao</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/topic">topic</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li class="active"><a href="/admin">admin</a></li>
                </ul>

            </div>
        </nav>
    </div>
</header>


<div class="container index-section">

    <div class="row">
        <div class="col-md-8">
            <div class="admin-main">
                <h1>admin</h1>
                <p>欢迎回来 admin</p>
                <hr>
            </div>
            <div class="admin-main">
                <form role="form" id="form">
                    <div class="form-group">
                        <label for="blog-title">文章写作 （新文章）</label>
                        <input type="text" name="blogtitle" class="form-control" id="blog-title" placeholder="标题">
                    </div>
                    <div class="form-group">
                        <div id="admin-markdowneditor">
                            <div id="seeeditor" class="tab-pane">
                                <div class="tab-content">
                                    <div id="markdowneditor" class="tab-pane active">
                                        <div id="wmd-editor-parent" class="control-group">
                                            <div id="wmd-editor-con" class="wmd-panel">
                                                <div class="padding">
                                                    <div id="wmd-bar-parent">
                                                        <div id="wmd-button-bar">
                                                            <div id="wmd-button-row" class="btn-toolbar">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <textarea id="wmd-input" name="md" placeholder="文章内容，markdown语法。如果没有写完，可以直接关闭页面，下次打开内容仍然会在。" class="expand wmd-input"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <script type="text/plain" id="myEditor"></script>
                                    </div>
                                </div>
                                <div id="wmd-preview-parent" class="control-group"><div id="wmd-preview-con" class="wmd-panel wmd-preview"><div class="padding"><div id="wmd-preview"></div></div></div></div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="index-send"> 首页推荐
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success ">提 交</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <button type="button" class="btn btn-default">新建博文</button>
                <button type="button" class="btn btn-default">新建专题</button>
                <button type="button" class="btn btn-default">新建专题</button>
            </div>
        </div>
    </div>



<script>
    /* editor */
    var converter1 =new  Markdown.Converter();
    Markdown.Extra.init(converter1);
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
    /*
     form
     * */
    $("#form").submit(function(e){
        e.preventDefault();
        var re = $("#form").serialize();
        $.ajax({
            dataType:'json',
            data:re,
            url:'/post',
            type:"post",
            success:function(){
                 alert('success');
            }
        })
    });
    /*
     * article save
     * */

    $("#wmd-input").val(localStorage.getItem("textarea_article_add")) ;
    $("#wmd-input").keyup(function(){
        localStorage.setItem("textarea_article_add",this.value)
    }) ;
    $("#title").val(localStorage.getItem("textarea_article_add_title")) ;
    $("#title").keyup(function(){
        localStorage.setItem("textarea_article_add_title",this.value) ;
    });

</script>

    <%- include footer %>