
<%- include header %>

<div class="container index-section">
    <h1><%= title %></h1>
    <p>欢迎来到这里哦 <%= title %></p>

    <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

<%- include footer %>