</div>
<footer class="g2-footer">
      <div class="container">
          <div class="row">
                 <div class="col-md-10">
                     <ul class="nav navbar-nav text-center">
                     <li class=""><a href="/blog">Blog</a></li>
                     <li class=""><a href="/Topic">Topic</a></li>
                     <li class=""><a href="/archive">Archive</a></li>
                     <li class=""><a href="/tag">Tag</a></li>
                     <li class=""><a href="/admin">Admin</a></li>
                 </ul>
                 </div>
              <div class="col-md-2">
                  <div class="logo">
                      <img src="http://ipublic.u.qiniudn.com/iyueyao/img/logo-1.png" alt="" height="40"/>
                  </div>
              </div>
          </div>
    </div>
</footer>

</body></html>