</div>
<footer class="g2-footer">
      <div class="container">
<!--    Node.js + Express + Mongodb + Bootstrap3.
    <% if (user) { %>
    <a href="/logout">退出</a>    <a href="/admin">后台</a>
    <% }else{ %>
    <a href="/login">登录</a>
    <% } %>-->
          <div class="row">
                 <div class="col-md-10">
                     <ul class="nav navbar-nav text-center">
                     <li class=""><a href="/blog">Blog</a></li>
                     <li class=""><a href="/Topic">Topic</a></li>
                     <li class=""><a href="/archive">Archive</a></li>
                     <li class=""><a href="/tag">Tag</a></li>
                     <li class=""><a href="/admin">Admin</a></li>
                 </ul>
                 </div>
              <div class="col-md-2">
                  <div class="logo">
                      <img src="../images/logo-1.png" alt="" height="40"/>
                  </div>
              </div>
          </div>


    </div>
</footer>

</body></html>