<footer class="g-footer">
    Power By Node.js .<!-- Last post by <a href="">admin</a>, 3 days ago .-->

    <% if (user) { %>
        test
    <% }else{ %>
    <a href="/login">Login</a> <a href="/reg">reg</a>
    <% } %>
</footer>
</div>
</body></html>