h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.index-header , .g-index-header{
    height:52px;
}

.index-header .navbar-brand,.g-index-header .navbar-brand{
    background:#151515;
    color:#fff;
    -webkit-transition:0.6s ease all;
    border-radius: 0 0 15px 15px;
}

.index-header .navbar-brand:hover,.g-index-header .navbar-brand:hover {
    background: #fff;
    color:#151515;
}
.index-header .nav>li>a, .index-header .nav>li>a{
    color:#fff;
    font-weight: bold;
    -webkit-transition:0.4s ease all;
    /*  background-color: rgba(255,255,255,0.5);*/
}
.g-index-header .nav>li>a, .g-index-header .nav>li>a {
    color:#151515;
    font-weight: bold;
    -webkit-transition:0.4s ease all;
}
.nav>li>a:hover, .nav>li>a:focus{
    color:#0079FF;
    background:none ;
}






.index-section{
    margin-top:58px;
}


.banner{
    width: 100%;
    color: #fff;
    text-align: center;
    background: #242628 url(/images/home_bg.jpg) center center;
    background-size: cover;
    position: relative;
}
.g-footer{color:#656565;margin-top: 40px;padding-top: 40px; padding-bottom: 40px;text-align: center;border-top: 1px solid #eee;}
.g2-footer{
   background:#e7e7e7;
    /*  border-top: 1px solid #eee;
     margin-top: 40px;
     padding-top: 40px;*/
    padding:30px 0;
}
.margin-base-vertical {
    margin: 40px 0;
}
h1 {
    font-weight: 400;
    font-size: 40px;
}
p{text-indent: 2em;}
.admin-main{
    border-bottom: 1px dashed #ccc;
}
/*
#myModal{
    width: 580px;margin: 0 auto;}*/
.comment{
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid #f1f1f1;
}
.page-box{
   height:45px;
   line-height:45px;
    width: 100%;
}
.page-box span{

}
.disable>a{
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.topic-box{
    position: absolute;
    top:40%;
    width: 100%;
/*
    top:30%;
    width:34%;
    left:33%;
    border:1px solid red;*/
}
/*
460  584  460    = 1504     width
     0.38829

301 372  327  =  1000  height
    0.372

*/
.topic-list{
}

.topic-index{
    border-left: 1px dotted #eee;
    padding-left: 40px;
    color:#fff;
}
.topic-title{
    color: #f1f1f1;
    line-height: 1;
}
.topic-index p{
    color: #cecece;
    line-height: 1;
}
.topic-content{
    text-align: left;
    color: #dedede;
    font-size:14px;
}

.blog-title{
    color: #414243;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    -webkit-transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    -o-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
}
.blog-content{
    color: #414243;
}


