h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.index-header{
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px inset rgba(0,0,0,0.2);
    height:52px;
}
.nav>li>a, .nav>li>a{
    background-color: rgba(255,255,255,0.5);
}.nav>li>a:hover, .nav>li>a:focus{
    color:#0079FF;
    background:none ;
}
.index-section{
    margin-top:58px ;
}
.g-footer{max-width: 500px;margin: 0 auto;text-align: center}
.margin-base-vertical {
    margin: 40px 0;
}
h1 {
    font-weight: 400;
    font-size: 40px;
}